body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo h1 {
    font-size: 24px;
    color: #333;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.contact-btn {
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 5px;
    text-transform: uppercase;
}

.contact-btn:hover {
    background-color: #333;
    color: #fff;
}

/* navbar */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#home {
    background: url('../src/bg9.jpg') no-repeat center center/cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.home-content h2 {
    font-size: 50px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.home-content p {
    font-size: 24px;
    margin-bottom: 20px;
}

.home-content button {
    padding: 10px 20px;
    background-color: #28a745;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.home-content button:hover {
    background-color: #218838;
}

#filter-section {
    text-align: center;
    margin: 20px 0;
}

#villa-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.villa {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

/* img */
.villa img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    object-fit: cover;
    height: 200px; 
}

.villa h2 {
    margin-bottom: 10px;
    color: #28a745;
}

.villa p {
    margin: 5px 0;
}

/* btn */
.detail-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

/* hover efek */
.detail-btn:hover {
    background-color: #218838;
}


/* foter */
#contact-info {
    background-color: #333;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.footer-content h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.footer-content p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #ddd;
}

.footer-content ul {
    list-style: none;
    padding: 0;
    font-size: 16px;
}

.footer-content ul li {
    margin: 10px 0;
    color: #ccc;
}

.footer-content ul li:hover {
    color: #28a745;
}


html {
    scroll-behavior: smooth;
}

/* pop up */
.popup-modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

